<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Work of Excellence</h2>
          <h3 class="section-sub-title">Recent Projects</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="images/projects/5%20marla%203.jpeg" class="latest-post-img gallery-popup">
                    <img loading="lazy" class="img-fluid" src="images/projects/5%20marla%203.jpeg" alt="5 marla project">
                </a>
              </div>
              <div class="post-body">
                <h3 class="post-title">
                    <a href="projects.html" class="d-inline-block">We Just Completed a Beautiful Custom Home in Khayaban e Ameen Lahore Pakistan</a>
                </h3>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="images/projects/interior%202.jpeg" class="latest-post-img gallery-popup">
                    <img loading="lazy" class="img-fluid" src="images/projects/interior%202.jpeg" alt="interior project">
                </a>
              </div>
              <div class="post-body">
                <h3 class="post-title">
                  <a href="projects.html" class="d-inline-block">Beautiful Interior Designing Project Completed in Defence Housing Authority DHA</a>
                </h3>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 2nd post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="images/projects/10%20marla%203.jpeg" class="latest-post-img gallery-popup">
                    <img loading="lazy" class="img-fluid" src="images/projects/10%20marla%203.jpeg" alt="exterior project">
                </a>
              </div>
              <div class="post-body">
                <h3 class="post-title">
                  <a href="projects.html" class="d-inline-block">Exterior Designing Work Completed in Johar Town Lahore Pakistan</a>
                </h3>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 3rd post col end -->
    </div>
    <!--/ Content row end -->

    <div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="projects.html">View All Projects</a>
    </div>

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->