<!-- Global Lottie Construction Preloader -->
<div id="page-preloader" class="page-preloader">
  <div class="preloader-inner">
    <div id="lottie-construction-container" class="lottie-preloader-box"></div>
    <div class="preloader-branding">
      <div class="preloader-logo-title">FUTURE HOMES</div>
      <div class="preloader-progress-track">
        <div id="preloader-progress-bar" class="preloader-progress-bar"></div>
      </div>
      <div class="preloader-status-text" id="preloader-status-text">Building Excellence...</div>
    </div>
  </div>
</div>
