<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon1.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/grey-structure">Home Construction</a></h3>
                <p>We build custom homes from the ground up, tailored exactly to your family's needs.</p>
              </div>
          </div><!-- Service 1 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon4.png" alt="Exterior Design">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/finishing">Exterior Design</a></h3>
                <p>Elevate your home's curb appeal with thoughtful architectural styling, outdoor features, and striking visual aesthetics.</p>
              </div>
          </div><!-- Service 2 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon3.png" alt="Interior Design">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/finishing">Interior Design</a></h3>
                <p>Our design experts will help you create beautiful and functional interior living spaces.</p>
              </div>
          </div><!-- Service 3 end -->

        </div><!-- Col end -->

        <div class="col-lg-4 text-center">
          <img loading="lazy" class="img-fluid" src="/images/services/service-center.jpg" alt="service-avater-image">
        </div><!-- Col end -->

        <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon2.png" alt="Home Design">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/grey-structure">Home Design</a></h3>
                <p>We help clients plan, architect, and create well-designed, highly functional, and modern custom homes.</p>
              </div>
          </div><!-- Service 4 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon5.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/finishing">Renovation</a></h3>
                <p>Update your home with our specialized kitchen, bath, and whole-house renovations.</p>
              </div>
          </div><!-- Service 5 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="/images/icon-image/service-icon6.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="/services/grey-structure">Supervision</a></h3>
                <p>Comprehensive construction supervision to monitor work quality, coordinate on-site teams, and enforce approved design standards.</p>
              </div>
          </div><!-- Service 6 end -->
        </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->